*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(images/awesome.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: Poppins;
}

#end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 2.6rem;
  color: rgba(0, 0, 0, 0.712);
}

.end-text {
  font-size: 1.7rem;
  color: rgb(184, 34, 67);
}

.end-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
}

input {
  margin-bottom: 1rem;
  width: 12rem;
  padding: 1rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(89, 95, 7, 0.5);
  border-radius: 34px;
  font-family: Poppins;
}

input::placeholder {
  color: #aaa;
}

#username {
  margin-bottom: 3rem;
  width: 100%;
  outline: none;
}

#end-text {
  font-size: 2.4rem;
  color: rgb(138, 100, 100);
  text-align: center;
}

#saveScoreBtn {
  border: none;
  background: rgba(0, 0, 0, 0.712);
}

#saveScoreBtn:hover {
  background: rgba(201, 16, 108, 0.767);
  color: #dac448;
  cursor: pointer;
  box-shadow: 0 0.4rem1.4rem 0 #130505;
  transition: transform 150ms;
  transform: scale(1.03);
}

#play {
  border: 1px solid #cfb3b842;
  color: rgb(207, 179, 184);
}

#play:hover {
  border: none;
  color: rgb(245, 225, 50);
  
}

#study {
  border: 1px solid #daa5204d;
  color: goldenrod;
}
#study:hover {
  background: goldenrod;
  color: #1b1b1b;
}

#Denmark
{
  margin: 0;
  background: linear-gradient(90deg, transparent, transparent 30%, white 30%, white 40%, transparent 40%, transparent),
              linear-gradient(0deg, red, red 43%, white 43%, white 58%, red 58%, red);
  width: 3rem;
  height: 2rem;
  display: inline;
}

