*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(41, 49, 44);
  background: #f1f1f1;
  display: flex;
  flex-direction:row;
  justify-items: center;
  align-self: center;
  font-family: Poppins;
  min-height: 100vh;

}

#question {
  font-size: 1.7rem;
  color: rgb(63, 61, 48);
  margin: 2rem auto;
}

#scoreText {
  color: goldenrod;
  font-family: Economica;

}

#score {
    font-size: 3.7rem;
    font-family: Economica;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
  padding: 1.5rem;
}

#qImg {
  margin: 10rem 0;
  display: flex;

}

#qImg img {
  width: 20rem;
}

.choice-container {
  min-width: 100%;
  border-radius: 1rem;
  background: #e0dddd8c;
  color: rgb(44, 36, 36);
  font-size: 1.5rem;
  display: flex;
  flex-direction: initial;
  margin: 1.3rem;
  font-size: 1.5rem;
  border: 10px solid rgba(228, 29, 39, 0.74);

  
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #bdc08e;
  transform: scale(1.001);
  transform: 230ms;
  background: #558033;
  color: rgb(214, 209, 118);
 
}

.choice-prefix {
  background-color: rgb(236, 230, 145);
  color: #443f3f;
  padding: 1.5rem 2.5rem;
  margin: 0;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  margin: 0;
}

.correct {
  background: linear-gradient(32deg, #056205 0%, #119611 100%);
}

.wrong {
  background: linear-gradient(32deg, #c21313 0%, #b9213a 100%);
}

#head-display {
  display: flex;
  justify-content: space-between;
}

.head-display-prefix {
  text-align: center;
  font-size: 2rem;
}

.head-display-main-text {
  text-align: center;
}

#progressBar {
  width: 100%;
  height: 100%;
  height: 2rem;
  border: 1px solid #181717fa;
  margin-top: 1.5rem;
  border-radius: 10px;
}

#progressBarFull {
  
  background: #105029;
  height: 2rem;
  border-radius: 8px;

}

#qImg {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#qImg img {
  width: 200px;
  height: 200px;
  border-top-left-radius: 5px;
}
@media screen and (max-width: 768px) {

  #choices {
    min-width: 8rem;
    margin: 1rem auto;
    width: 60%;
  }

  .choice-container {
      font-size: 1.1rem;
      width: 100%;
      margin: 2rem auto;
      
  }

  .choice-prefix, .choice-text {
      padding: 0.75rem;
      margin: 0 auto;
      
  }

  #question{
      border-bottom: 0.4rem dotted goldenrod;
      font-size: 1.3rem;
      margin: 2rem 5rem;
      
  }
}

@media screen and (min-width: 900px){
}
