*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-family: Poppins;
}

#finalScore {
    color: rgb(219, 196, 65);
    margin-top: 0;
}

#highScoresList{
    list-style: ordered;
    margin-bottom: 4rem;
}

.highScore{
    font-size: 2rem;
    margin-bottom: 0.5rem;
   
}

.high-score {
    font-size: 2rem;
    color: white;
}

#home {
    border: 1px solid goldenrod;
    color: goldenrod;
}

#home:hover{
    border: none;
    background-color:goldenrod;
    color: black;
}

/* Share Buttons */

.share-btn-container {
    background: rgba(255, 255, 255, 0.863);
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
   
    transform: translateY(-50%);
    transform: unset;
    top: unset;
    left: 0;
    bottom: 10%;
    width: 50%;
    flex-direction: row;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    justify-content: center;
  }
  
  .share-btn-container a i {
    font-size: 32px;
    padding: 1rem;
  }
  
  .share-btn-container a {
    margin: 12px 0;
    transition: 500ms;
  }
  
  .share-btn-container a:hover {
    transform: scale(1.2);
  }
  
  .share-btn-container .fa-facebook {
    color: #3b5998;
  }
  
  .share-btn-container .fa-twitter {
    color: #1da1f2;
  }
  
  .share-btn-container .fa-linkedin {
    color: #0077b5;
  }
  
  .share-btn-container .fa-pinterest {
    color: #bd081c;
  }
  
  .share-btn-container .fa-whatsapp {
    color: #25d366;
  }
  
  /* Media Queries */
  
  @media (max-width: 550px) {
    .content {
      padding: 8px 32px;
    }
  
    .share-btn-container {
      transform: unset;
      top: unset;
      left: 0;
      bottom: 0;
      width: 100%;
      flex-direction: row;
      box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
      padding: 16px 0;
      justify-content: center;
    }
  
    .share-btn-container a {
      margin: 0 32px;
    }
  }
