*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(images/pedestal.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: Economica;
  display: grid;
  place-items: center;
  height: 100vh;

}



#highScores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* box-shadow: 1px 0 8px rgba(225, 173, 62, 0.774); */
}

#finalScore {
  color: rgb(204, 183, 64);
  margin: 0 auto;
  font-size: 3.75rem;


}

#highScoresList {
  list-style: ordered;
  margin: 2rem auto;
  color: #e7a600;
  text-align: center;
}

.highScore {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: gold;
}




.high-score {
  font-size: 2.25rem;
  color: #11ebbb;
  padding: 0.5rem;
  padding: 0 auto;

}

#home {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 1.5rem 0;
  width: 20rem;
  text-align: center;
  margin-top: 3rem;
  text-decoration: none;
  border-radius: 5px;
  color: rgb(26, 24, 19);
  background-color: rgb(212, 205, 191);
}

#home:hover {
  border: none;
  background-color: rgb(231, 183, 61);
  color: black;
  box-shadow: 0 0.4rem1.4rem 0 #130505;
  transition: transform 150ms;
  transform: scale(1.03);
}

#Denmark
{
  margin: 0;
  background: linear-gradient(90deg, transparent, transparent 30%, white 30%, white 40%, transparent 40%, transparent),
              linear-gradient(0deg, red, red 43%, white 43%, white 58%, red 58%, red);
  width: 3rem;
  height: 2rem;
  display: inline;
}

@media (max-width: 768px) {

  body {
    height: 100vh;
    display: grid;
    place-items: center;
  }

  #home {
    width: 10rem;
    padding: 1rem 2rem ;
    font-size: 1.5rem;
    margin-bottom: 0.6rem;
    margin-right: 10rem;
  }

  .high-score {
    font-size: 1.75rem;
    color: #11ebbb;
    padding: 0.5rem;
    margin: 0 auto;
  
  }

}

